.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 400px !important;
}
.slc-header {
    height: 70px !important;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
}